
/* Медиа запро для экранов с размерами меньше 1140px */
@media (max-width:1140px){
    .card{
        width:calc(50% - 15px);
    }
    .card img{
        max-width:100%;
    }

    .footer{
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .footer-row{
        flex-direction: column-reverse;
        align-items: center;
        text-align:center;
    }

    .footer-col{
        margin-bottom: 50px;
    }

    .footer-col:first-child{
        margin-bottom: 0;
    }
}


@media (max-width:760px){
    .header-title{
        font-size:32px;
    }

    .card img{
        max-width:100%;
    }

    .header-subtitle{
        font-size:14px;
        text-align:center;
    }

    .portfolio{
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .portfolio-header{
        font-size:32px;
        margin-bottom: 30px;
    }

    .card{
        width:100%;
        max-width: 530;
    }

    .portfolio-cards-wrapper{
        justify-content: center;
    }

    .card-link{
        padding: 15px;
    }

    .card:nth-last-child(2){
        margin-bottom: 30px;
    }

    .card-img{
        margin-bottom: 10px;
    }

    .card-title{
        font-size:18px;
        margin-bottom: 10px;
    }

    .card p{
        font-size: 14px;
    }

    .footer-copyright-name{
        margin-bottom: 5px;
        font-size: 18px;
    }

    .footer-copyright p{
        font-size: 14px;
    }

    .footer-icons p{
        font-size: 14px;
    }

    .footer-contacts p{
        font-size: 14px;
        margin: 0;
        margin-top: 15px;
    }

    .project{
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .project-header{
        font-size: 28px;
        margin-bottom: 30px;
    }

    .project-img{
        margin-bottom: 20px;
    }

    .project-desription{
        margin-bottom: 50px;
    }

    .project-button-back{
        padding: 0 10px;
        width: 100%;
        max-width:320px;
    }
}